<%- include('../sharing/head', { pageTitle: 'Products'}) %>
<link rel="stylesheet" href="/styles/products.css">

</head>
<%- include('../sharing/header') %>
<body>
    <main>
     <h1> The dress's are .....</h1>
    </main>

<%- include('../sharing/footer') %>
    
