<%- include('../sharing/head', { pageTitle: 'Error'}) %>
<link rel="stylesheet" href="/styles/auth.css">
<link rel="stylesheet" href="/styles/form.css">

</head>
<%- include('../sharing/header') %>
<body>
    <main>
        <h1>Oops! Something Went Wrong</h1>
    </main>

<%- include('../sharing/footer') %>